@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?5433163');
  src: url('fonts/fontello.eot?5433163#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?5433163') format('woff2'),
       url('fonts/fontello.woff?5433163') format('woff'),
       url('fonts/fontello.ttf?5433163') format('truetype'),
       url('fonts/fontello.svg?5433163#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5433163#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-revert:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-history:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-list-add:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-shuffle:before { content: '\e807'; } /* '' */
.icon-attention-circled:before { content: '\e808'; } /* '' */
.icon-doc:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */
.icon-power:before { content: '\e80b'; } /* '' */
.icon-resize-full:before { content: '\e80c'; } /* '' */
.icon-to-end:before { content: '\e80d'; } /* '' */
.icon-squares:before { content: '\e80e'; } /* '' */
.icon-font:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-text-height:before { content: '\e812'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-video:before { content: '\e814'; } /* '' */
.icon-iphone-home:before { content: '\e815'; } /* '' */
.icon-divide-outline:before { content: '\e816'; } /* '' */
.icon-resize-vertical:before { content: '\e817'; } /* '' */
.icon-picture-1:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-doc-text:before { content: '\e81a'; } /* '' */
.icon-arrow-combo:before { content: '\e81b'; } /* '' */
.icon-progress-2:before { content: '\e81c'; } /* '' */
.icon-left-big:before { content: '\e81d'; } /* '' */
.icon-right-dir:before { content: '\e81e'; } /* '' */
.icon-bullhorn:before { content: '\e81f'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-globe:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
