// Use the @layer directive to tell Tailwind how to apply these styles with
// specificity. Available options are 'base', 'components' and 'utilties'.
// For more, see: https://tailwindcss.com/docs/functions-and-directives#layer

@layer utilities {
  .h-x6 {
    height: 6rem;
  }

  .max-h-38 {
    max-height: 38rem;
  }

  .transition-bg {
    transition-property: color, background-position;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    background-size: 100% 200%;
    background-position: 0 100%;

    &:hover,
    &:focus,
    &:active {
      background-position: 0 0;
    }
  }

  // Zospace

  .bg-gradient-zospace-1 {
    background-image: linear-gradient(
      180deg,
      rgba(20, 20, 22, 0.9) 29.21%,
      rgba(0, 10, 255, 0.72) 75.43%
    );
  }

  .bg-gradient-zospace-2 {
    background-image: linear-gradient(
      178.46deg,
      rgba(26, 104, 130, 0) 17.98%,
      #ff9a3d 38.85%,
      #ffbe38 40.3%,
      #4827a5 74.77%
    );
  }

  .w-2full {
    width: 200%;
  }
}

@layer components {
  .tablet {
    background: linear-gradient(145deg, #cecede, #fff);
    box-shadow: 6px 6px 18px #cccccc, -6px -6px 18px #fefefe;
  }
}
